/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@background-color: rgba(227,250, 245, 100);
@main-theme-color: rgb(99, 255, 219);
@text-color: rgb(20, 204, 170);
@border-color: rgb(20, 204, 170);

body {
  background: @background-color;
  color: @text-color;
  height: 100%;
  margin: 0;
}

.sidebar {
  height: auto;
}
