@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Lobster|Roboto');

.container {
  background-color: white;
  border: solid 1px;
  border-color: rgb(99, 255, 219);
  width:350px;
  position:fixed;
  left:50%;
  margin-left:-200px;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.achiever-icon {
  width: 150px;
  height: 150px;
}

.title {
  /*color: white;*/
  font-family: 'Lobster', cursive;
  text-align: center;
  margin: 15px;
  margin-bottom: 40px;
}

.description {
  display: flex;
  color: rgb(99, 255, 219);
  text-align: center;
  max-width: 200px;
  font-family: 'Gochi Hand', cursive;
  align-content: center;
  margin: 15px;
  margin-bottom: 50px;
}

.button-google {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 2px;
  border: none;
  background-color: gainsboro;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.sign-in-label-wrapper {
  color: gray;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
}

@media (max-width: 600px) {
  #page {
    padding:1em;
  }

}
