<div class="container">
  <h1 class="title">
    <img class="achiever-icon" src="/assets/icon-web.png">
     Achiever
  </h1>

  <p class="description">
    Делись своими достижениями в нашем новом приложении Achiever!
  </p>

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="loginGoogle()" class="button-google">
    <img class="google-icon" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg">
    <span class="sign-in-label-wrapper">
      Войти через Google
    </span>
  </button>
</div>


