/*p {*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*background-color: #E2E4E6;*/
/*}*/

.container {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

/*----------------------add-achievement---------------*/

.add-achievement {
  display: flex;
  /*border: rgb(99, 255, 219) solid 1px;*/
  box-shadow: gray;
  border-radius: 2px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  /*align-items: flex-end;*/
  justify-content: flex-end;
}

.add-achievement-btn {
  padding: 2px;
  margin: 0;
  font-size: 1em;
  color: rgb(99, 255, 219);
  max-width: 85px;
  border-left: whitesmoke solid 0.7px;
  outline: none;
}

.add-achievement-input {
  display: flex;
  margin-right: auto;
  /*float: left;*/
  width: 100%;
  align-items: center;
  border: none;
  padding: 0;
  padding-left: 5px;
  outline: none;
  color: rgb(99, 255, 219);
}

/*.photo-attach-icon {*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*margin: 3px;*/
  /*align-self: center;*/
  /*!*text-align: center;*!*/
/*}*/

/*----------------------list achievements---------------*/
.list-group-item-custom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-group-custom {
  margin: 0;
  padding: 0;
  width: 100%;
}
