<!--<p>-->
  <!--feed works!-->
<!--</p>-->
<div class="add-achievement">
  <span class="add-achievement-input"
        (click)="toggleAdd()">
    Добавить достижение...
  </span>
  <img class="photo-attach-icon" src="/assets/photo-camera.svg"/>
  <button
    class="add-achievement-btn"
    (click)="toggleAdd()">
    {{isAddAchievementOpen ? 'Отменить' : 'Добавить'}}
  </button>
</div>
<div class="container" *ngIf="isAddAchievementOpen">
  <app-add-achievement (addAchievement)="onAddAchievement($event)"></app-add-achievement>
</div>
