<div class="add-achievement">
  <span class="add-achievement-input"
        (click)="toggleAdd()">
    Добавить достижение...
  </span>
  <button
    class="add-achievement-btn"
    (click)="toggleAdd()">
    {{isAddAchievementOpen ? 'Отменить' : 'Добавить'}}
  </button>
</div>
<div class="container" *ngIf="isAddAchievementOpen">
  <app-add-achievement (addAchievement)="onAddAchievement($event)"></app-add-achievement>
</div>
<ul class="list-group-custom">
  <li class="list-group-item-custom" *ngFor="let achievement of achievements; let i = index">
    <app-achievement
      [index]="i"
      [text]="achievement.text"
      [authId]="achievement.authorId"
      [achPhoto]="achievement.photoUrl"
      [authPhoto]="achievement.authPhoto"
      [authName]="achievement.authorName"
      [authLikes]="achievement.likesNumber"
      [achievementId]="achievement.id"
      (index)="delete($event)"
    >
    </app-achievement>
  </li>
</ul>
