<div class="sidenav container">
  <div class="item-wrapper">
    <a href="#"
       routerLink="myFriends"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="sidebar-label">Мои друзья</a>
  </div>

  <div class="item-wrapper">
    <a href="#"
       routerLink="find"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="sidebar-label">Поиск друзей</a>
  </div>

  <div class="item-wrapper">
    <a href="#"
       routerLink="requests"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="sidebar-label">Заявки в друзья</a>
  </div>

</div>
