@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Lobster|Roboto');
/* You can add global styles to this file, and also import other style files */
body {
  background: #e3faf5;
  color: #14ccaa;
  height: 100%;
  margin: 0;
}
.sidebar {
  height: auto;
}
.container {
  background-color: white;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  box-shadow: lightgrey;
  color: #14ccaa;
}
.user-avatar {
  border-radius: 50%;
  margin-left: 0;
  margin-right: 10px;
  height: 53px;
  width: 53px;
  border: none !important;
}
.user-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.progress-bar-border {
  width: 100%;
  border: solid #14ccaa;
  border-radius: 3px;
  height: 20px;
}
.delete-btn {
  height: 10px;
  width: 10px;
  margin-left: auto;
}
.progress {
  width: 25%;
  height: 100%;
  border: none;
  border-radius: 0px;
  text-align: center;
  align-content: center;
  color: #63ffdb;
  background-color: #14ccaa;
}
.user-name {
  max-width: 100px;
  overflow: inherit;
  font-family: 'Gochi Hand', cursive;
}
.achievements-content {
  max-width: 400px;
  max-height: 400px;
}
.content-wrapper {
  width: auto;
  border: none;
  box-shadow: none;
  color: #14ccaa;
  overflow-y: visible;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn {
  display: flex;
  margin: 5px;
  height: 30px;
  border-radius: 2px;
  background-color: #63ffdb;
  border: none;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: #96ffe7;
}
.btn:focus {
  outline: none;
  box-shadow: none;
  background-color: #96ffe7;
}
.btn-label-wrapper {
  color: #14ccaa;
  font-family: 'Gochi Hand', Roboto;
}
