<!--<p>-->
  <!--add-achievement works!-->
<!--</p>-->

<form [formGroup]="form" (submit)="onSubmit()" class="container">
  <div class="form-group-custom">
    <input formControlName="theme"
           type="text"
           class="form-control-custom"
           placeholder="Тема достижения">
  </div>
  <div class="form-group-custom ">
    <textarea formControlName="body"
           type="text"
           class="form-control-custom large"
           placeholder="Ваше достижение">
    </textarea>
  </div>
  <div class="form-group-custom">
    <div *ngIf="currentFileUpload" class="progress" style="width:100%">
      <div class="progress-bar progress-bar-info progress-bar-striped"
           role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
           aria-valuemin="0" aria-valuemax="100"
           [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
    </div>

    <div class="btn-wrapper">
      <label>
        <img class="photo-attach-icon" src="/assets/photo-camera.svg"/>
        <input type="file" (change)="selectFile($event)" class="invisible">
      </label>

      <button type="submit"
              [disabled]="form.pristine || form.invalid"
              class="btn-add-achievement">Готово
      </button>
    </div>

  </div>
</form>
