/* You can add global styles to this file, and also import other style files */
body {
  background: #e3faf5;
  color: #14ccaa;
  height: 100%;
  margin: 0;
}
.sidebar {
  height: auto;
}
.container {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  color: #14ccaa;
}
/*----------------------add-achievement---------------*/
.add-achievement {
  display: flex;
  box-shadow: gray;
  border-radius: 2px;
  background-color: white;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}
.add-achievement-btn {
  padding: 2px;
  margin: 0;
  font-size: 1em;
  color: #63ffdb;
  max-width: 85px;
  border-left: whitesmoke solid 0.7px;
  outline: none;
}
.add-achievement-input {
  display: flex;
  margin-right: auto;
  width: 100%;
  align-items: center;
  border: none;
  padding: 0;
  padding-left: 5px;
  outline: none;
  color: #63ffdb;
}
/*----------------------list achievements---------------*/
.list-group-item-custom {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.list-group-custom {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* -----------------search field------------- */
.search-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.search-field-btn {
  color: #63ffdb;
  max-width: 85px;
  outline: none;
}
.search-field-img {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
  width: 35px;
}
.search-field-input {
  border: none;
  box-shadow: none;
  color: #14ccaa;
  border-bottom: whitesmoke solid 1px;
  margin: 0;
  background-image: url(../../../assets/search.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35px 35px;
}
.search-field-input:focus {
  border-bottom: #63ffdb solid 1px;
}
.search-field-input::placeholder {
  color: #63ffdb;
}
/* -------------- friend item ----------------- */
