
@import "../../styles.less";

.page_layout {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page_layout__content {
  position: relative;

  //max-width: 600px;
  width: 70%;
}

.page_layout__side {
  width: 30%;
}


