/* You can add global styles to this file, and also import other style files */
body {
  background: #e3faf5;
  color: #14ccaa;
  height: 100%;
  margin: 0;
}
.sidebar {
  height: auto;
}
.page_layout {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page_layout__content {
  position: relative;
  width: 70%;
}
.page_layout__side {
  width: 30%;
}
