<!-------------------page layout----------------->
<div class="page_layout">

  <!-------------------page content----------------->
  <div class="page_layout__content">
    <div class="search-field">
      <input type="text"
             class="search-field-input"
             placeholder="Найти друзей...">
      <!--<button-->
      <!--class="search-field-btn"-->
      <!--(click)="toggleAdd()">-->
      <!--<img class="search-field-img" src="/assets/search.svg"/>-->
      <!--</button>-->
    </div>

    <router-outlet></router-outlet>
  </div>

  <!-------------------page side bar----------------->
  <div class="page_layout__side" *ngIf="authService.authenticated">
    <app-sidebar-friends></app-sidebar-friends>
  </div>


</div>
