
<div class="sidenav container">
  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/icon-home.svg"/>
    <span class="sidebar-label">Профиль</span>
  </div>
  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/friends.svg"/>
    <a href="#"
       routerLink="friends"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
       class="sidebar-label">Друзья</a>
  </div>
  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/news.svg"/>
    <a href="#"
       routerLink="feedMy"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}"
      class="sidebar-label">Новости</a>
  </div>
  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/settings.svg"/>
    <span  class="sidebar-label">Настройки</span>
  </div>
  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/podium.svg"/>
    <span class="sidebar-label">Рейтинг</span>
  </div>

  <div class="item-wrapper">
    <img class="sidebar-img" src="/assets/evil.svg"/>
    <span class="sidebar-label">Враги</span>
  </div>

</div>
