<div class="container" *ngIf="!removed">

  <div class="user-info">
    <img class="user-avatar" [src]="achievement.authPhoto">
    <div class="user-info-level-wrapper">
      <span class="user-name">{{achievement.authorName}}</span>
      <div class="progress-bar-border">
        <span class="progress">Level</span>
      </div>
    </div>
    <!--<img src="/assets/delete.svg" class="delete-btn" (click)="OnDeleteClick()"/>-->
  </div>

  <!-- achievement theme -->
  <p class="content-wrapper">
    <span style="color: aquamarine">Тема: </span>
    {{achievement.theme}}
  </p>

  <img *ngIf="achievement.photoUrl" [src]="achievement.photoUrl" class="achievements-content"/>

  <p class="content-wrapper">{{achievement.text}}</p>
</div>
